{% extends 'home/navbar.html' %}
{% block title %}
Meet Our Leaders
{% endblock %}
{% block navbar %}
    <section>
        <div class="container">
            <h1 class="heading">Meet The Leaders</h1>
            <div class="card-wrapper">
                <div class="card">
                    <!-- <img src="" class="card-img" alt=""> -->
                    <!--this is a coverup img-->
                    <img src="https://wallpaperplay.com/walls/full/1/2/b/5089.jpg" class="card-img">
                    <!--this is the profile image-->
                    <img src="https://images.wallpapersden.com/image/wxl-vin-diesel-in-fast-and-furious-9_68887.jpg"
                        class="profile-img">
                    <!--this is the member's name-->
                    <h1>Dominic Torretto</h1>
                    <!--This is his job title-->
                    <p class="job-title">RacerMan</p>
                    <!--About him/her-->
                    <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum placeat ullam quis
                        nostrum quas nulla.</p>
                    <!--Contact details-->
                    <a href="#" class="btn">Contact</a>
                    <!--his/her social media links-->
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <!-- <img src="" class="card-img" alt=""> -->
                    <!--this is a coverup img-->
                    <img src="https://wallpaperplay.com/walls/full/1/2/b/5089.jpg" class="card-img">
                    <!--this is the profile image-->
                    <img src="https://i.pinimg.com/originals/1f/f6/40/1ff6403be42cef3085aa49bd7dabc6fe.jpg"
                        class="profile-img">
                    <!--this is the member's name-->
                    <h1>Brian</h1>
                    <!--This is his job title-->
                    <p class="job-title">Superstar</p>
                    <!--About him/her-->
                    <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum placeat ullam quis
                        nostrum quas nulla.</p>
                    <!--Contact details-->
                    <a href="#" class="btn">Contact</a>
                    <!--his/her social media links-->
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <!-- <img src="" class="card-img" alt=""> -->
                    <!--this is a coverup img-->
                    <img src="https://wallpaperplay.com/walls/full/1/2/b/5089.jpg" class="card-img">
                    <!--this is the profile image-->
                    <img src="https://i.pinimg.com/originals/6e/a6/4a/6ea64a6dc63ccda46b708dfb747701ad.jpg"
                        class="profile-img">
                    <!--this is the member's name-->
                    <h1>Letty Dom</h1>
                    <!--This is his job title-->
                    <p class="job-title">web designer</p>
                    <!--About him/her-->
                    <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum placeat ullam quis
                        nostrum quas nulla.</p>
                    <!--Contact details-->
                    <a href="#" class="btn">Contact</a>
                    <!--his/her social media links-->
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <!-- <img src="" class="card-img" alt=""> -->
                    <!--this is a coverup img-->
                    <img src="https://wallpaperplay.com/walls/full/1/2/b/5089.jpg" class="card-img">
                    <!--this is the profile image-->
                    <img src="https://images.hdqwalls.com/wallpapers/bthumb/assassins-creed-rogue-remastered-bz.jpg"
                        class="profile-img">
                    <!--this is the member's name-->
                    <h1>Code Lover07</h1>
                    <!--This is his job title-->
                    <p class="job-title">web developer</p>
                    <!--About him/her-->
                    <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum placeat ullam quis
                        nostrum quas nulla.</p>
                    <!--Contact details-->
                    <a href="#" class="btn">Contact</a>
                    <!--his/her social media links-->
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
    <!--Scripts-->
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/f0d37b1801.js"></script>
</body>
